.noutati{
    text-align: center;
    background-color: rgb(124, 88, 61);
}

.noutatiTabel1{
    background-color: rgb(124, 88, 61);
}

.noutatiTabel2{
    background-color: rgb(124, 88, 61);
}

.noutatiTabel3{
    background-color: rgb(124, 88, 61);
}