.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #79746f;
    color: #000000;
    text-align: left;
}

.styled-table th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid rgb(165, 139, 120);;
    border-left: 1px solid rgb(165, 139, 120);;
    border-right: 1px solid rgb(165, 139, 120);;
    border-top: 1px solid rgb(165, 139, 120);;
}


.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #cfc0a0;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1a3c68;
}


.contentServicii{
    background-color: rgb(165, 139, 120);
    text-align: center;
}